html{
    font-size: 26px;
    margin-right: 5%; 
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

header{
    font-size: 26px;
    font-style:bold;
}

h1,h2,h3,h4,h5{
    border-style: double;
}

}
